[submodule "pcatk/bab"]
	path = pcatk_pkg/bab
	url = git@github.com:pwil3058/pysm_bab.git
[submodule "pcatk/gtx"]
	path = pcatk_pkg/gtx
	url = git@github.com:pwil3058/pysm_gtx.git
[submodule "pcatk/epaint"]
	path = pcatk_pkg/epaint
	url = git@github.com:pwil3058/pysm_epaint.git
[submodule "pcatk/pixbufx"]
	path = pcatk_pkg/pixbufx
	url = git@github.com:pwil3058/pysm_pixbufx.git
